body {
    background-color: hsl(218, 28%, 13%);
    color: white;
    font-size: 15px;
    font-family: 'Bai Jamjuree', sans-serif;
}
.container {
    width: 80%;
    margin: auto;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: hsl(216, 29%, 17%); */
    align-items: center;
}
.header .container ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.header .container ul li {
    margin: 0 10px;
    transition: .8s;
    
}
.header .container ul a {
    text-decoration:none;
    color: #eee;
    font-size: 20px;
}
.header .container ul li:hover {
    transform: scaleX(1.3) rotate(18deg);

}
.header .container ul li:hover a {
    color: rgb(4, 153, 136);
}
.intro .container {
    text-align: center;
    margin-top: 30px;
}
.intro .container h2 {
    font-size: 35px;
    font-family: 'Righteous', cursive;
}
.intro .container p {
    width: 55%;
    margin: auto;
    font-size: 20px;
    /* font-family: 'Bai Jamjuree', sans-serif; */
}
.section .container {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    /* font-family: 'Bai Jamjuree', sans-serif; */
}
.section .cont {
    width: 40%;
    text-align: center;
    font-size: 20px;
    margin: 20px 0;
}
.section .cont img {
    width: 100px;
}
@media (max-width: 767px){
    .section .container .cont {
        width: 90%;
        text-align: center;
        margin: auto;
        align-items: center;
    }
    .section .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: auto;
        width: 100%;
    }
}
.start {
    margin: 20px auto 50px;
    width: fit-content;
    padding: 0 30px;
    background-image: linear-gradient(to right,hsl(198, 60%, 50%)50% , hsl(176, 68%, 64%) );
    border: 1px solid transparent;
    border-radius: 50px;

}
.start a {
    text-decoration: none;
    font-size: 25px;
    color: rgb(84, 86, 175);
    transition: .6s;
    font-weight: 600;
}
.start:hover a {
    font-size: 40px;
    color: rgb(11, 87, 77);
}
.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer .container div {
    margin: 50px 0;
    text-align: left;
    font-size: 20px;
    font-weight: 600;
}
.footer a {
    text-decoration: none;
    font-size: 25px;
    color: rgb(84, 86, 175);
    transition: .6s;
    font-weight: 600;
}
.footer:hover a {
    font-size: 30px;
    color: rgb(11, 87, 77);
}